
/* Regular */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-Regular.ttf');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-Italic.ttf');
    font-weight: 400; /* Italic weigh */
    font-style: italic;
}

/* Light */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-Light.ttf');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-LightItalic.ttf');
    font-weight: 300; /* Light weight */
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-SemiBold.ttf');
    font-weight: 600; /* SemiBold weight */
    font-style: normal;
}

/* SemiBold Italic */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-SemiBoldItalic.ttf');
    font-weight: 600; /* SemiBold weight */
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-Bold.ttf');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-BoldItalic.ttf');
    font-weight: 700; /* Bold weight */
    font-style: italic;
}

/* Black */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-Black.ttf');
    font-weight: 900; /* Black weight */
    font-style: normal;
}

/* ExtraLight  */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-ExtraLight.ttf');
    font-weight: 200; /* extralight weight */
    font-style: normal;
}

/* ExtraLight-italic  */
@font-face {
    font-family: 'Titillium';
    src: url('../titillium/TitilliumWeb-ExtraLightItalic.ttf');
    font-weight: 200; /* extralight weight */
    font-style: italic;
}